<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/pauldeitel/Dropbox/books/2020/C/examples/raylib/sounds/CallToPost.m4a</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAKQZz2eHOplC+nQQCcL9dlJVZBoIolQtN9u5Ef4YFzespAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAHBhdWxkZWl0ZWwAAAcA
	AAABAQAARHJvcGJveAAFAAAAAQEAAGJvb2tzAAAABAAAAAEBAAAyMDIwAQAAAAEBAABD
	AAAACAAAAAEBAABleGFtcGxlcwYAAAABAQAAcmF5bGliAAAGAAAAAQEAAHNvdW5kcwAA
	DgAAAAEBAABDYWxsVG9Qb3N0Lm00YQAAKAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAA
	AGAAAABsAAAAfAAAAIwAAACcAAAACAAAAAQDAACdUwAAAAAAAAgAAAAEAwAAtkAIAAAA
	AAAIAAAABAMAANR2EgAAAAAACAAAAAQDAACrZxMAAAAAAAgAAAAEAwAAlJouAgAAAAAI
	AAAABAMAALVoVgIAAAAACAAAAAQDAAA5vxAFAAAAAAgAAAAEAwAAoeiXBgAAAAAIAAAA
	BAMAALzolwYAAAAACAAAAAQDAADNvtkGAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcLPLRsHp7MYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADQU5tHBwAA
	CAAAAAAEAABBwcOSiZ3DgyQAAAABAQAAQ0Y2NTk4OTktODRCRi00ODIzLUIyQjAtNDBC
	MDZDRDFGQzg3GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/pauldeitel/Dropbox/books/2020/C/examples/raylib/sounds/CallToPost2.m4a</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAPQ19MvVur9VcpxAG/Ps01QV9e8iAfcTl7FGjFmnngHupAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAHBhdWxkZWl0ZWwAAAcA
	AAABAQAARHJvcGJveAAFAAAAAQEAAGJvb2tzAAAABAAAAAEBAAAyMDIwAQAAAAEBAABD
	AAAACAAAAAEBAABleGFtcGxlcwYAAAABAQAAcmF5bGliAAAGAAAAAQEAAHNvdW5kcwAA
	DwAAAAEBAABDYWxsVG9Qb3N0Mi5tNGEAKAAAAAEGAAAQAAAAIAAAADQAAABEAAAAVAAA
	AGAAAABsAAAAfAAAAIwAAACcAAAACAAAAAQDAACdUwAAAAAAAAgAAAAEAwAAtkAIAAAA
	AAAIAAAABAMAANR2EgAAAAAACAAAAAQDAACrZxMAAAAAAAgAAAAEAwAAlJouAgAAAAAI
	AAAABAMAALVoVgIAAAAACAAAAAQDAAA5vxAFAAAAAAgAAAAEAwAAoeiXBgAAAAAIAAAA
	BAMAALzolwYAAAAACAAAAAQDAAB1wdkGAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcLPLbOVR0sYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADQU5tHBwAA
	CAAAAAAEAABBwcOSiZ3DgyQAAAABAQAAQ0Y2NTk4OTktODRCRi00ODIzLUIyQjAtNDBC
	MDZDRDFGQzg3GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
